@tailwind base;
@tailwind components;
@tailwind utilities;

.suggestions-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

/* 分页样式 */
.pagination-link {
    @apply inline-flex items-center px-4 py-2 border text-sm font-medium rounded-md;
}

.pagination-link-active {
    @apply bg-blue-600 text-white border-blue-600;
}

.pagination-link-inactive {
    @apply bg-white text-gray-700 border-gray-300 hover:bg-gray-50;
}

/* 添加过渡动画 */
.pagination-container {
    @apply transition-all duration-300 ease-in-out;
}